/* dialog styles */
/* Start Dialog */
button#start, button#controls, button#options{
    position: absolute;
    left: 30%;
    bottom: 4%;
    font-size: 1.5em;
    font-variant: small-caps;
    display: inline-block;
}

button#controls{
    left: 46%;
}

button#options{
    left: 70%;
}

button#try{
    position: absolute;
    bottom: 10%;
    left: 40%;
    font-size: 1em;
    font-variant: small-caps;
}

h3.map{
    position: absolute;
    top: 45%;
}

button#mapTatooine, button#mapEndor{
    position: absolute;
    top: 53%;
    left: 2%;
    display: inline-block;
}

button#mapEndor{
    left: 16%;
}

button#charChewie, button#charHan{
    position: absolute;
    top: 9%;
    left: 2%;
    display: inline-block;
}

button#charHan{
    left: 15%;
}

#pauseMenu button{
    margin: 1%;
}

#charDiv, #mapDiv{
    height: 25%;
    width: 80%;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: inset 1px 1px 4px rgba(0,0,0, 0.7);
    border-radius: 1%;
    overflow: hidden;
    left: 9%;
}

#charDiv{
    position: absolute;
    top: 14%;
}

#mapDiv{
    position: absolute;
    bottom: 16%;
}

.char{
    position: relative;
    margin-top: 2%;
}

.ui-dialog{
    height: 90%; 
    width: 600px; 
    top: 5%; 
    left: 35vw;
}

.ui-dialog-content{
    width: auto; 
    min-height: 0px; 
    max-height: none; 
    height: 93%;
}

/* Global dialog styles */

.ui-widget-header{
    background-color: rgba(0,0,0, 0.9);
    border: 1px solid rgba(224,140,0, 0.9);
    color: #DF8C00;
}

.ui-dialog .ui-dialog-title{
    margin:0;
    text-align: center;
    padding-left: 5%;
}

#pauseMenu button, #controlDialog button, #optionsDialog button{
    color: #fff;
    background-color: rgba(0,0,0, 0.8);
    border-radius: 8%;
}

#pauseMenu button:hover, #controlDialog button:hover, #optionsDialog button:hover{
    color: #DF8C00;
}

.ui-widget-content{
    background-color: #FFFFDE;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.5);
}

#ui-id-1, #ui-id-2{
    font-size: 1.5em;
    font-family: 'Pathway Gothic One', sans-serif;
}

#pauseMenu .buttonActive{
    color: #DF8C00;
}

/* Controls dialog */

#closeControls{
    position: absolute;
    bottom: 3%;
    left: 43%;
}

#controlDialog p {
    padding-left: 25%;
    margin-top: 5%;
}

span.key{
    background-color: beige;
    border-radius: 10%;
    padding: 1% 2% 1% 2%;
    margin: 2%;
    border: 1px solid black;
    font-weight: bolder;
}

span.title{
    margin: 0 10% 0 0;
    font-weight: bolder;
}

.introCheck{
    position: absolute;
    bottom: 5%;
    left: 10%;
}

/* Pause Menu Dialog */

button#controlsPause, button#continue, button#restart, button#startMenu{
    position: relative;
    width: 40%;
    left: 25%;
    margin: 5%;
    display: block;
}

/* Game Over Dialog */

button#try, button#startMenuEnd{
    position: relative;
    width: 40%;
    left: 25%;
    margin: 5%;
    display: block;
}

button#startMenuEnd{
    font-variant: small-caps;
}

button#try{
    margin: 16% 5% 5% 5%;
}

#pauseMenu .hidden p {
    margin-left: 30%;
}


/* Remove x button from dialog */

.ui-dialog-titlebar-close {
    visibility: hidden;
}

/* Options Dialog*/
#closeOptions{
    position: absolute;
    left: 30%;
    bottom: 1%;
}

#saveOptions{
    position: absolute;
    left: 43%;
    bottom: 1%;
}

#defaultOptions{
    position: absolute;
    left: 55%;
    bottom: 1%;
}

#hiddenInstruction{
    position: absolute;
    left: 40%;
    top: 40%;
    color: #fff;
}

/* Media Queries */

@media only screen and (max-width: 768px) {

    /* Start Dialog*/
    .ui-dialog{
        left: 10vw;
    }
}

@media only screen and (min-width: 992px) {
    
    /* Start Dialog*/
    .ui-dialog{
        left: 20vw;
    }

    .ui-dialog-content{
        height: 95%;
    }
}

@media only screen and (min-width: 1200px) {
     /* Start Dialog*/
    .ui-dialog{
        left: 35%;
    }

    .ui-dialog-content{
        height: 93%;
    }
}