html{
    overflow: hidden;
    cursor: none;
}

body{
    margin:0;
    padding:0;
}

/* Hide pause menu contents */

.hidden{
    display: none;
}

/* Animated Movements for Player/AI */

.crouch {
    animation-name: crouch;
    animation-duration: 2s;
}

@keyframes crouch {
    from{
        bottom: 20vh; 
    }
    to {
        bottom: 0vh;
    }
}

.jump {
    animation-name: jump;
    animation-duration: 2s;
}

@keyframes jump {
    from{
        bottom: 20vh; 
    }
    to {
        bottom: 40vh;
    }
}

.moveEnemy {
    animation-name: moveEn;
    animation-duration: 40s;
}

@keyframes moveEn {
    from{
        left: 100vw; 
    }
    to {
        left: 0vw;
    }
}

.reloadAnimation {
    animation-name: reload;
    animation-duration: 5s;
}

@keyframes reload {
    to {
        margin: -15% 0 0 0;
        left: 0%;
        z-index: 1;
        transform: rotate(-180deg);
    }
}

/* Timer */

.timer{
    position: absolute;
    text-align: center;
    left: 48vw;
}

/* Bullet Classes */

.bullet {
    position: absolute;
    border-radius: 25%;
    height: 4px;
    width: 15px;
    background-color: red;
    z-index: -1;
}

.enBullet {
    position: absolute;
    border-radius: 25%;
    height: 4px;
    width: 15px;
    background-color: green;
    z-index: -1;
}

/* Health pickup */

.healthTopUp{
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    width: 50px;
    height: 35px;
    background-color: rgba(255,255,255, 1);
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 10%;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
}

.horizontal, .vertical{
    position: absolute;
    top: 17%;
    left: 45%;
    width: 10%;
    height: 70%;
    background-color: rgba(0, 255, 0, 1);
    transform: rotate(90deg);
    box-shadow: -1px 1px 20px rgba(0,0,0, 0.5);
}

.vertical{
    transform: rotate(0deg);
}

/* dialog styles */

/* Start Dialog */
button#start{
    position: absolute;
    bottom: 10%;
    left: 40%;
    font-size: 2em;
    font-variant: small-caps;
}

button#start:hover{
    color: green;
}

button#try{
    position: absolute;
    bottom: 10%;
    left: 40%;
    font-size: 1em;
    font-variant: small-caps;
}

h3.map{
    position: absolute;
    top: 45%;
}

button#mapTatooine{
    position: absolute;
    top: 54%;
    left: 3%;
}

#pauseMenu button{
    margin: 1%;
}

/* Remove x button from dialog */

.ui-dialog-titlebar-close {
    visibility: hidden;
}