html{
    overflow: hidden;
    cursor: none;
}

body{
    margin:0;
    padding:0;
}

/* Animated Movements for Player/AI */

.crouch {
    animation-name: crouch;
    animation-duration: 1s;
}

@keyframes crouch {
    from{
        bottom: 20vh; 
    }
    to {
        bottom: 5vh;
    }
}

.moveEnemy {
    animation-name: moveEn;
    animation-duration: 40s;
}

@keyframes moveEn {
    from{
        left: 100vw; 
    }
    to {
        left: 0vw;
    }
}

.reloadAnimation {
    animation-name: reload;
    animation-duration: 5s;
}

@keyframes reload {
    to {
        margin: -15% 0 0 0;
        left: 0%;
        z-index: 1;
        transform: rotate(-180deg);
    }
}

/* Bullet Class and animation */

.bullet {
    position: relative;
    border-radius: 25%;
    height: 4px;
    width: 15px;
    background-color: red;
    z-index: -1;
}

.moveBullet {
    animation-name: moveBullet;
    animation-duration: 3s;
    animation-timing-function: ease;
}

@keyframes moveBullet {
    from{
        left: 0;
    }
    to {
        left: 120vw;
    }
}

/* Timer */

.timer{
    position: absolute;
    text-align: center;
    left: 48vw;
}