.backgroundStart{
  position: absolute;
  left: -135%;
  top: 40%;
  bottom: 30%;
  transform: scale(0.1);
}

.background {
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.sky {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(180deg, rgba(235,159,186,1) 35%, rgba(245,124,72,0.9808298319327731) 98%);
}

.moons{
  position: relative;
  width: 100vw;
  height: 50vh;
  left: 60vw;
  top: 0%;
  transform: scale(0.7);
}

.topMoon, .bottomMoon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.topMoon{
  position: absolute;
  top: 40%;
  left: 5%;
  background-color: #fff;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
}

.bottomMoon {
  position: absolute;
  top: 80%;
  left: 10%;
  background-color: #ffff00;
  box-shadow: 0px 0px 50px rgba(204, 41, 0, 1);
}

.foreground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(232,197,170,1) 11%, rgba(213,145,117,1) 100%);
  z-index: -2;
}

.horizon {
  position: absolute;
  top: 30vh;
  height: 33vh;
  z-index: 1;
}

.building{
  position: relative;
  width: 20vw;
  height: 100%;
  left: 10%;
  display: flexbox;
}

.second{
    position: absolute;
    top: 0%;
    left: 80vw;
    transform:scale(0.4);
}

.outerFrame, .doorFrame, .arch, .archWall, .stairs{
    background: linear-gradient(180deg, rgba(250,224,152,1) 11%, rgba(126,68,44,1) 100%);
}

.building .outerFrame {
  width: inherit;
  height: inherit;
  border-radius: 50% 50% 0 0;
  border-left: 20px solid rgba(0,0,0, 0.1);
  box-shadow: -10px 20px 14px rgba(0,0,0, 0.2), inset -10px 0px 1px rgba(0,0,0, 0.1);
}

.building .outerFrame .doorFrame{
  position: relative;
  top: 50%;
  left: 90%;
  width: 30%;
  height: 50%;
  border-radius: 50% 50% 0 0%;
  box-shadow: -2px -2px 6px rgba(0,0,0, 0.9), inset -5px 5px 5px rgba(0,0,0, 0.2);
  z-index: 3;
}

.building .outerFrame .door {
  position: relative;
  left: 55%;
  top: 27%;
  width: 20%;
  height: 50%;
  background-color: #000;
  border-radius: 50% 50% 0 0;
  border: 10px solid rgba(0,0,0, 0.5);
  box-shadow: 8px 0px 1px rgba(0,0,0, 0.8);
  transform: scaleX(0.7);
}

.building .outerFrame .arch {
  position: relative;
  top: -20%;
  left: 40%;
  width: 30%;
  height: 50%;
  border-radius: 50% 50% 0 0%;
  box-shadow: -6px -4px 6px rgba(0,0,0, 0.9);
  z-index: 4;
}

.building .outerFrame .archWall {
  position: relative;
  top: -24%;
  left: -5%;
  width: 95%;
  height: 25%;
  box-shadow: 0px -2px 1px rgba(0,0,0, 0.2), inset -2px 0px 1px rgba(0,0,0, 0.5);
  z-index: 4;
}

.stairs {
  position: absolute;
  left: 90%;
  bottom: -1%;
  width: 50%;
  height: 6%;
  box-shadow: -2px 6px 5px rgba(0,0,0, 0.6), inset 0px 5px 1px rgba(0,0,0, 0.6);
  z-index: 3;
}